<!DOCTYPE html>
<html>
<head>
  <title> My Fyra : votre ordinateur à vie. Dites adieu à l'obsolescence programmée ! </title>
  <meta charset="utf-8">
  <meta name="description" content="Dites adieu à l'obsolescence programmée ! Votre dernier ordinateur à portée de main au prix d'un abonnement téléphonique.">
  <link href="<%= url("/css/style.css")%>" rel="stylesheet" type="text/css" />
  <script src="<%= url("/js/main.js")%>" type="text/javascript" > </script>
</head>
<body>
  <div class="header_fixe">
    <header>
      <div class="container_menu">
        <nav>
          <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_1440,w_720,f_auto,q_90/v1/381642/6471819e116e4a2b95d0430a8ed9c772_yytefc.png" alt="logo My Fyra" class="logo">
          <ul class="menu_ul">
            <li> <a href="#" class="bouton_menu"> Découvrez My Fyra </a> </li>
            <li> <a href="#" class="bouton_menu"> Notre histoire </a> </li>
            <li> <a href="#" class="bouton_menu"> Contacts </a> </li>
            <li> <a href="#" class="bouton_menu cta"> Commandez </a> </li>
          </ul>
        </nav>
      </div>
    </header>
  </div>
  <section class="section_1">
    <h1 class="Titre_section_1"> My Fyra, votre dernier ordinateur ! </h1>
    <a href="#" class="cta cta_2"> Commandez votre Fyra </a>
  </section>
  <section class="container_section2">
    <h2 class="titre_section_2"> Découvrez My Fyra </h2>
    <article class="article_gauche article_section_2">
      <img class="icone_section_2" src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/381642/83319404c1e647e28131fa8b1beb9f75_tebykk.png" alt="Facile d'usage">
      <div class="div_section_2">
        <p> Recevez votre Fyra avec un clavier et une souris </p>
        <p> Le système est toujours mis à jour par nos soins </p>
        <p> Nous assurons votre assistance 24/7 </p>
      </div>
    </article>
    <article class="article_droite article_section_2">
      <img class="icone_section_2" src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/381642/06c18af3ad9b46f4aa1f2d89373f7a02_ojzk6f.png" alt="Flexible">
      <div class="div_section_2">
        <p> Un ordinateur qui s'adapte à vos besoins </p>
        <p> Un stockage modulable </p>
        <p> Votre Fyra n'importe où, n'importe quand </p>
      </div>
    </article>
    <article class="article_gauche article_section_2">
      <img class="icone_section_2" src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/381642/e93c167d4c774a78bd6ada73cdf21c6e_a9kxzy.png" alt="Sécurisé">
      <div class="div_section_2">
        <p> Plus jamais de perte de données </p>
        <p> Nous vous protégeons des virus et des intrusions </p>
        <p> Vous protégez en cas de vol de votre matériel </p>
      </div>
    </article>
    <a href="#" class="cta cta_3"> Commandez votre Fyra </a>
  </section>
  <section class="container_section_3">
    <h2 class="titre_section_3"> Notre vocation </h2>
    <article>
      <p> Nous sommes intimement convaincus que l'accès au numérique à travers tout support (ordinateur, smartphone...) est devenu un droit et un besoin premier pour chacun d'entre nous. Nous pensons également que nous sommes à la merci des fabricants de ces appareils électroniques dont l'obsolescence est programmée et quasi inévitable. Il est temps que tout cela cesse ! Nous souhaitons mettre un terme à ce cercle vicieux grâce à la technologie que nous avons développée nous permettant de dématérialiser vos appareils et vous fournissant des supports qui ne sont plus programmés pour mourir mais pour durer ! </p>
      <p> "Car seuls ceux qui sont assez fous pour penser qu'ils peuvent changer le monde, y parviennent." Publicité Apple ; Steve Jobs </p>
    </article>
  </section>
  <section>
    <h2> Qui sommes nous ? </h2>
    <article>
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/7/005/08e/32a/156c2a9.jpg" alt="Stéphane Marin CEO My Fyra">
      <p> Fondateur et CEO de My Fyra, Stéphane Marin a à coeur d'apporter au plus grand nombre l'accès au numérique. </p>
    </article>
  </section>
  <footer>
    <h3> Suivez nous sur les réseaux sociaux ! </h3>
    <img src="http://www.escpeuropealumni.org/images/upload/logo_fb.jpg" alt="My Fyra Facebook" href="https://www.facebook.com/stephane.marinfigueroa">
  </footer>
</body>
</html>
